# secret files
unencrypted/
unsealed-*

# local files
*.local*

# for helm debug
rendered/

# for local testing
*.result

# sensitive folders
unencrypted/
unsealed/

# sensitive files
unsealed-*

# for local testing
*.result

# sensitive folders
unencrypted/
unsealed/

# sensitive files
unsealed-*

rolefile.yaml

.dockerconfig.json

.secrets

kubeconfig*.yaml
# Helm chart dependencies
**/charts/*.tgz
**/Chart.lock
